@media (max-width: 1324px) {
  .text-block {
    height: auto;
    height: 700px;
  }
  .gifi {
    height: auto;
    height: 1000px;
  }
  .text-block h2 {
    font-size: 30px;
    color: white;
  }
  .text-block-one {
    max-width: 900px;
    font-size: 18px;
  }
  .main-wrapper {
    height: auto;
    height: 800px;
  }
  h1 {
    font-size: 40px;
  }
  .first-article p {
    font-size: 32px;
  }
  .box h2 {
    font-size: 20px;
  }
  .box p {
    font-size: 18px;
  }
  .trailer-bg h2 {
    font-size: 35px;
  }
  .trailer-bg {
    height: auto;
    height: 800px;
  }
  .first-page {
    height: 800px;
  }
  .first-page h2 {
    font-size: 35px;
  }
  .sectionCaltext h3 {
    font-size: 33px;
  }
  .sectionCaltext p {
    font-size: 24px;
  }
  .sectionCaltext {
    width: 400px;
  }
  .second-page {
    height: auto;
    height: 800px;
  }
  .second-page-div {
    width: 400px;
  }
  .second-page-div h2 {
    font-size: 33px;
  }
  .second-page-div p {
    font-size: 22px;
  }
  .third-page-div {
    width: 400px;
  }
  .third-page {
    height: auto;
    height: 800px;
  }
  .third-page h2 {
    font-size: 33px;
  }
  .third-page p {
    font-size: 22px;
  }
  .register {
    height: auto;
    height: 450px;
  }
  .register-flex {
    width: 1200px;
  }
  .first-flex {
    width: 450px;
  }
  .first-flex h2 {
    font-size: 25px;
  }
  .first-flex p {
    font-size: 18px;
  }
  .second-flex {
    width: 600px;
  }
  .checkboxi h2 {
    font-size: 15px;
    width: 400px;
  }
  .Markers {
    height: auto;
    height: 450px;
  }
  .Markers h3 {
    width: 500px;
    font-size: 30px;
  }
  .contact-div {
    width: 600px;
    font-size: 22px;
  }
  .video-wrapper {
    width: 1000px;
    padding-bottom: 20px;
    margin: 0 auto;
  }
  .nav-list {
    padding: 20px;
  }
  header {
    height: auto;
  }
}
/* 1130px */
@media (max-width: 1130px) {
  header {
    height: auto;
    font-size: 12px;
  }
  .button-wrapper {
    padding: 10px 20px;
    border-radius: 10px;
  }
  iframe {
    width: 1000px;
  }
  .video-wrapper {
    width: 1000px;
  }
}
/* 1024px */
@media (max-width: 1024px) {
  .text-block {
    height: auto;
    height: 500px;
  }
  .gifi {
    height: auto;
    height: 800px;
  }
  .text-block h2 {
    font-size: 20px;
    color: white;
  }
  .text-block-one {
    max-width: 700px;
    font-size: 15px;
  }
  .main-wrapper {
    height: auto;
    height: 800px;
  }
  h1 {
    font-size: 30px;
  }
  .first-article p {
    font-size: 26px;
  }
  .box h2 {
    font-size: 16px;
  }
  .box p {
    font-size: 15px;
  }
  .trailer-bg h2 {
    font-size: 28px;
  }
  .trailer-bg {
    height: auto;
    height: 800px;
  }
  .first-page {
    height: 600px;
  }
  .first-page h2 {
    font-size: 28px;
  }
  .sectionCaltext h3 {
    font-size: 28px;
  }
  .sectionCaltext p {
    font-size: 20px;
  }
  .sectionCaltext {
    width: 400px;
    left: 40%;
  }
  .second-page {
    height: auto;
    height: 800px;
  }
  .second-page-div {
    width: 350px;
  }
  .second-page-div h2 {
    font-size: 28px;
  }
  .second-page-div p {
    font-size: 18px;
  }
  .third-page-div {
    width: 300px;
  }
  .third-page {
    height: auto;
    height: 600px;
  }
  .third-page h2 {
    font-size: 28px;
  }
  .third-page p {
    font-size: 18px;
  }
  .register {
    height: auto;
    height: 500x;
  }
  .register-flex {
    width: 1000px;
  }
  .first-flex {
    width: 350px;
  }
  .first-flex h2 {
    font-size: 18px;
  }
  .first-flex p {
    font-size: 16px;
  }
  .second-flex {
    width: 400px;
  }
  .checkboxi h2 {
    font-size: 14px;
    width: 350px;
  }
  .Markers {
    height: auto;
    height: 400px;
  }
  .Markers h3 {
    width: 450px;
    font-size: 26px;
  }
  .contact-div {
    width: 500px;
    font-size: 19px;
  }
  .nav-list {
    padding: 5px;
  }
  header {
    height: auto;
    font-size: 10px;
  }
  iframe {
    width: 700px;
  }
  .video-wrapper {
    width: 700px;
  }
  .button-wrapper {
    display: none;
  }
  .horizon-line {
    display: none;
  }
  .social_media {
    display: none;
  }
}
/*  768 px*/
@media (max-width: 768px) {
  .checkboxi h2 {
    font-size: 10px;
    width: 200px;
  }
  .second-flex {
    width: 300px;
    padding-left: 35px;
  }
  .register-flex {
    height: auto;
    width: 700px;
    padding-top: 20px;
  }
  .input-wraper {
    height: 15px;
  }
  .input-wraper-2 {
    height: 20px;
  }
  #Country {
    height: 20px;
  }
  .button-wrapper {
    padding: 5px 10px;
  }
  .first-flex h2 {
    font-size: 12px;
    height: 100px;
  }
  .first-flex p {
    font-size: 10px;
    padding-top: 15px;
    height: 100px;
  }
  .first-flex {
    height: 100px;
  }
  header {
    height: auto;
  }
  .logo {
    max-width: 30px;
  }
  nav {
    color: #e09209;
    font-size: 10px;
  }
  .main-wrapper {
    height: auto;
  }
  h1 {
    font-size: 22px;
  }
  .first-article {
    padding-top: 20px;
  }
  .first-article p {
    font-size: 16px;
  }
  .box {
    padding-bottom: 20px;
  }
  .symbol {
    height: 30px;
  }
  .text-blockP {
    height: auto;
  }
  .text-block-one {
    padding-top: 50px;
    font-size: 16px;
  }
  .trailer-bg {
    height: auto;
  }
  .video-wrapper {
    width: 500px;
    padding-bottom: 30px;
  }
  iframe {
    width: 500px;
    padding-bottom: 30px;
  }
  .first-page {
    width: 768px;
  }
  .sectionCaltext h3 {
    font-size: 20px;
  }
  .sectionCaltext p {
    font-size: 16px;
  }
  .sectionCaltex {
    width: 300px;
  }
  .second-page {
    background-image: url(../images/raja.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 768px;
    position: relative;
  }
  .third-page h2 {
    font-size: 20px;
  }
  .third-page p {
    font-size: 18px;
  }
}
/* 480 320 */
@media (max-width: 480px min-widt: 320px) {
}
