body {
  background: black;
}
header {
  height: 100px;
}
.gifi {
  background-image: url(../images/jeday.gif);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 1600px;
  text-align: center;
  align-items: center;
  position: relative;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 99;
  background-color: black;
  width: 100%;
}
.logo {
  max-width: 50px;
  width: 100%;
}
ul {
  display: flex;
  padding: 30px;
  text-align: center;
  align-items: center;
}
ul li {
  padding: 0 30px;
}
.section-gif {
  max-width: 1903px;
  width: 100%;
}
.fas {
  padding: 5px;
}
ul li a {
  color: #987942;
}
/* a:hover{
    background:aqua;
} */
.nav-li:hover {
  background: aqua;
  padding: 10px;
  border-radius: 10px;
}
.nav-a:hover {
  background: aqua;
}

.social_media {
  display: flex;
  flex-direction: column;
  transform: translateX(-50%);
  display: flex;
}
.social_media a {
  display: block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  color: #987942;
  text-align: center;
  margin: 0 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.button-wrapper {
  background-color: #987942;
  padding: 15px 30px;
  border-radius: 15px;
}
.button-wrapper:hover {
  background-color: aqua;
}
/* body */

.main-wrapper {
  background-image: url(../images/section.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 1000px;
  text-align: center;
  align-items: center;
  position: relative;
}
.first-article {
  padding-top: 100px;
  color: white;
}
h1 {
  font-size: 50px;
  padding-top: 50px;
}
.first-article p {
  padding-top: 30px;
  font-size: 42px;
  max-width: 1662px;
  width: 100%;
}
.first-article img {
  padding-top: 30px;
}
.second-article {
  display: flex;
  justify-content: space-around;
  padding-top: 50px;
}
.box {
  max-width: 300px;
  width: 100%;
  color: white;
}
.box h2 {
  font-size: 30px;
  padding-top: 10px;
}
.text-wrapper {
  font-size: 25px;
  padding-top: 20px;
}
/* section 2 */
.text-block {
  background-image: url(../images/1556919.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 1000px;
  text-align: center;
  align-items: center;
  position: relative;
  display: flex;
  flex-direction: column;
}

.text-block {
  text-align: center;
}
.text-block h2 {
  font-size: 40px;
  color: #987942;
  padding-top: 20px;
}
.text-block-one {
  font-size: 25px;
  color: white;
  padding-top: 120px;
  max-width: 1200px;
  width: 100%;
}
/* section 3 */
.trailer-bg {
  background-image: url(../images/star-wars-jedi-trailer-section-bg-xl.jpg.adapt.1920w.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 1000px;
  text-align: center;
  align-items: center;
  position: relative;
  display: flex;
  flex-direction: column;
}
.trailer-bg h2 {
  font-size: 45px;
  color: white;
  margin-top: 100px;
  max-width: 1000px;
  width: 100%;
}
.video-wrapper {
  max-width: 1150px;
  width: 100%;
  padding-top: 20px;
}
/* section 4 */
.first-page {
  background-image: url(../images/ca.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 1000px;
  position: relative;
}
.first-page h2 {
  font-size: 50px;
  max-width: 60px;
  width: 100%;
  margin: 0 auto;
  color: #987942;
  padding-top: 50px;
}
.sectionCaltext {
  max-width: 557.84px;
  width: 100%;
  position: absolute;
  left: 60%;
  top: 30%;
}
.sectionCaltext h3 {
  font-size: 45px;
  color: black;
}
.sectionCaltext p {
  font-size: 35px;
  color: rgb(54, 57, 59);
  padding-top: 20px;
  padding-bottom: 20px;
}
.second-page {
  background-image: url(../images/raja.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 1000px;
  position: relative;
}
.second-page-div {
  max-width: 500px;
  width: 100%;
  color: white;
  top: 30%;
  left: 15%;
  position: absolute;
}
.second-page-div h2 {
  font-size: 45px;
  padding-bottom: 50px;
}
.second-page-div p {
  font-size: 30px;
}
.third-page {
  background-image: url(../images/enemies.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 1000px;
  position: relative;
}
.third-page-div {
  max-width: 600px;
  width: 100%;
  color: white;
  top: 30%;
  left: 15%;
  position: absolute;
}
.third-page-div h2 {
  font-size: 40px;
  padding-bottom: 50px;
}
.third-page-div p {
  font-size: 30px;
}
.register {
  width: 100%;
  height: 500px;
  background-color: #80808030;
}
.first-flex {
  max-width: 566px;
  width: 100%;
  color: white;
}
.first-flex h2 {
  font-size: 35px;
  padding-bot: 15px;
}
.first-flex p {
  font-size: 20px;
  padding-top: 50px;
}
.second-flex {
  padding-left: 100px;
  color: white;
  max-width: 696px;
  width: 100%;
}
.input-wraper {
  max-width: 350px;
  height: 100%;
  height: 30px;
  border: 2px solid white;
}

.input-wraper-2 {
  height: 30px;
}
.wraper-form-2 {
  padding-top: 25px;
  padding-bottom: 25px;
}
.register-flex {
  display: flex;
  padding: 7%;
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
}
#Country {
  height: 30px;
}
.checkboxi {
  padding: 15px;
}
.checkboxi h2 {
  padding: 5px;
  width: 566px;
  font-size: 20px;
}
.Markers {
  background-image: url(../images/star-wars-jedi-trailer-section-bg-xl.jpg.adapt.1920w.jpg);
  height: 550px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  color: white;
}
.img-wrapper {
  width: 45px;
  margin: 20px;
}
.last-section-images {
  display: flex;
  justify-content: space-between;
}
.Markers h3 {
  font-size: 40px;
  padding: 50px;
  max-width: 700px;
  width: 100%;
}
.contact-div {
  max-width: 750px;
  width: 100%;
  font-size: 30px;
  padding: 20px;
}
input:focus {
  outline: none;
}
