body {
    background: black;
}
header {
    height: 100px;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 99;
    background-color: black;
    width: 100%;
}
.logo {
    width: 50px;
}
ul {
    display: flex;
    padding: 30px;
    text-align: center;
    align-items: center;
}
ul li {
    padding: 0 50px;
    
}
.section-gif {
    max-width: 1903px;
}
.fas{
    padding: 5px;
}
ul li a{
    color: #987942;
}
 a:hover{
    background:skyblue
}

.social_media{
    display: flex;
    flex-direction: column;
    transform: translateX(-50%);
    display: flex;
}
.social_media a{
    display: block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    color:#987942;
    text-align: center;
    margin: 0 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
/* body */

#home{
    background-image: url(../images/section.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    height: 800px;
    text-align: center;
    align-items: center;
    position: relative;


}
.first-article{
    padding-top: 100px;
    color:white;

}
h1{
    font-size: 50px;
    padding-top: 50px;
}
.first-article p{
    padding-top: 30px;
    font-size: 42px;
}
.first-article img{
    padding-top: 30px;
}
.second-article{
    display: flex;
    justify-content: space-around;
    padding-top: 50px;
}
.box{
    width: 300px;
    color: white;
}
.box h2 {
    font-size: 30px;
    padding-top: 10px;
}
.text-wrapper{
    font-size: 25px;
    padding-top: 20px;
}
/* section 2 */
#About{
    background-image: url(../images/1556919.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;  
    height: 800px;
    text-align: center;
    align-items: center;
    position: relative;
    display: flex;
    flex-direction: column;
}

.text-block{
    text-align: center;
}
.text-block h2{
    font-size: 40px;
    color: #987942;
    padding-top: 20px;

}
.text-block-one{
    font-size: 25px;
    color: white;
    padding-top: 120px;
    max-width: 1200px;
    width: 100%;
}